In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [13]:
pd.read_sql('SELECT name FROM sqlite_master WHERE type=\'table\' ORDER BY name', disk_engine)

           name
0      quotes_A
1    quotes_ADM
2    quotes_APA
3    quotes_APD
4      quotes_C
5    quotes_CFG
6   quotes_CPRI
7   quotes_CPRT
8    quotes_CRM
9    quotes_CXO
10   quotes_DXC
11     quotes_F
12   quotes_FMC
13   quotes_FOX
14    quotes_GM
15   quotes_HCP
16   quotes_HUM
17   quotes_IBM
18    quotes_IT
19   quotes_ITW
20   quotes_IVZ
21   quotes_KHC
22   quotes_LEN
23    quotes_LH
24   quotes_MCK
25   quotes_MCO
26   quotes_MOS
27   quotes_MPC
28  quotes_MSFT
29   quotes_MYL
..          ...
33  quotes_SCHW
34   quotes_SEE
35   quotes_SHW
36  quotes_SIVB
37   quotes_SJM
38   quotes_SLB
39   quotes_SLG
40   quotes_SNA
41  quotes_SNPS
42    quotes_SO
43   quotes_SPG
44  quotes_SPGI
45   quotes_SRE
46   quotes_STI
47   quotes_STT
48   quotes_STX
49  quotes_TMUS
50   quotes_UNM
51    quotes_VZ
52   quotes_WRK
53     trades_A
54   trades_AAL
55   trades_DXC
56  trades_QCOM
57  trades_WELL
58   trades_WFC
59   trades_WHR
60  trades_WLTW
61    trades_WM
62   trades_WMB

[63 rows x 1 columns]

In [23]:
disk_engine = create_engine('sqlite:///archive/taq_aug_2019.db')

pd.read_sql('SELECT * FROM quotes_CRM LIMIT 100', disk_engine)

,index,DATE,TIME_M,EX,BID,BIDSIZ,ASK,ASKSIZ,SYM_ROOT,SYM_SUFFIX
0,7547498,20190801,4:00:00.025193855,P,0.00,0,164.99,10,CRM,None
1,7547499,20190801,4:00:00.025193855,P,130.00,1,164.99,10,CRM,None
2,7547500,20190801,4:00:00.025193855,P,137.00,1,164.99,10,CRM,None
3,7547501,20190801,4:00:00.025294629,P,148.00,1,164.99,10,CRM,None
4,7547502,20190801,4:00:00.025363657,P,148.00,1,163.09,1,CRM,None
5,7547503,20190801,4:00:00.025363657,P,148.70,1,163.09,1,CRM,None
6,7547504,20190801,4:00:00.025407701,P,148.70,1,161.90,2,CRM,None
7,7547505,20190801,4:00:00.025479098,P,148.70,1,160.50,2,CRM,None
8,7547506,20190801,4:00:00.025503729,P,152.00,1,160.50,2,CRM,None
9,7547507,20190801,4:00:00.025519485,P,152.00,2,160.50,2,CRM,None
10,7547508,20190801,4:00:00.025786532,P,152.80,1,160.50,2,CRM,None
11,7547509,20190801,4:00:00.025801538,P,152.80,1,157.37,1,CRM,None
12,7547510,20190801,4:02:22.163520153,P,152.00,2,157.37,1,CRM,None
13,7547511,20190801,5:46:44.995613784,P,152.74,1,157.37,1,CRM,None
14,7547512,20190801,5:46:55.194458134,P,152.00,2,157.37,1,CRM,None
15,7547513,20190801,5:46:58.684473468,P,152.00,2,158.09,1,CRM,None
16,7547514,20190801,5:47:39.248547831,T,155.00,1,0.00,0,CRM,None
17,7547515,20190801,5:54:21.300572268,P,152.00,2,155.50,1,CRM,None
18,7547516,20190801,5:54:21.301174463,T,155.00,1,155.50,1,CRM,None
19,7547517,20190801,6:37:02.400006452,P,152.00,2,155.49,4,CRM,None
20,7547518,20190801,6:37:52.798535744,T,155.36,1,155.50,1,CRM,None
21,7547519,20190801,6:37:52.878835377,T,155.00,1,155.50,1,CRM,None
22,7547520,20190801,6:37:52.878900010,T,155.36,1,155.50,1,CRM,None
23,7547521,20190801,6:38:08.584019671,T,155.00,1,155.50,1,CRM,None
24,7547522,20190801,6:38:08.584083880,T,155.36,1,155.50,1,CRM,None
25,7547523,20190801,6:38:18.101724952,T,155.36,1,0.00,0,CRM,None
26,7547524,20190801,6:38:18.107626477,P,152.00,2,155.48,1,CRM,None
27,7547525,20190801,6:38:18.108156559,T,155.36,1,155.48,1,CRM,None
28,7547526,20190801,6:38:18.141488831,T,155.36,1,0.00,0,CRM,None
29,7547527,20190801,6:38:18.141553606,T,155.36,1,155.48,1,CRM,None
...,...,...,...,...,...,...,...,...,...,...
70,7547568,20190801,7:06:12.498427691,P,153.00,1,155.05,1,CRM,None
71,7547569,20190801,7:08:25.337779594,P,153.00,1,155.30,4,CRM,None
72,7547570,20190801,7:08:30.729562465,P,155.05,1,155.30,4,CRM,None
73,7547571,20190801,7:08:32.581096973,P,153.00,1,155.30,4,CRM,None
74,7547572,20190801,7:09:11.985187073,P,153.00,1,155.36,5,CRM,None
75,7547573,20190801,7:09:19.523920138,P,153.00,1,155.00,2,CRM,None
76,7547574,20190801,7:09:21.792250081,P,153.00,1,155.00,1,CRM,None
77,7547575,20190801,7:09:21.936962725,P,153.00,1,155.36,5,CRM,None
78,7547576,20190801,7:09:33.117621110,P,153.00,1,155.30,2,CRM,None
79,7547577,20190801,7:14:47.546109219,P,153.00,1,155.36,5,CRM,None
80,7547578,20190801,7:14:51.404892425,P,153.00,1,155.00,2,CRM,None
81,7547579,20190801,7:15:01.790280571,P,153.00,1,155.00,1,CRM,None
82,7547580,20190801,7:18:00.417297690,P,153.00,1,155.36,5,CRM,None
83,7547581,20190801,7:18:00.426315436,P,153.13,1,155.36,5,CRM,None
84,7547582,20190801,7:18:10.141976529,K,154.97,1,155.47,1,CRM,None
85,7547583,20190801,7:19:47.738116397,P,153.13,1,155.25,1,CRM,None
86,7547584,20190801,7:22:12.524139928,P,153.80,1,155.25,1,CRM,None
87,7547585,20190801,7:23:48.185398932,P,153.00,1,155.25,1,CRM,None
88,7547586,20190801,7:23:48.186231182,K,153.21,1,155.47,1,CRM,None
89,7547587,20190801,7:23:48.188442730,K,153.21,1,155.47,1,CRM,None
90,7547588,20190801,7:23:48.190967853,K,153.21,1,155.47,1,CRM,None
91,7547589,20190801,7:33:28.721609995,P,154.75,1,155.25,1,CRM,None
92,7547590,20190801,7:37:03.305455518,P,155.00,1,155.25,1,CRM,None
93,7547591,20190801,7:40:49.153233618,P,155.00,1,155.05,1,CRM,None
94,7547592,20190801,7:40:51.652347986,P,154.75,1,155.05,1,CRM,None
95,7547593,20190801,7:40:51.654521433,K,153.21,1,155.47,1,CRM,None
96,7547594,20190801,7:41:10.592516239,P,154.97,1,155.05,1,CRM,None
97,7547595,20190801,7:41:11.792511885,P,154.97,2,155.05,1,CRM,None
98,7547596,20190801,7:41:22.141006203,P,154.97,2,155.25,1,CRM,None
99,7547597,20190801,7:41:56.429765961,P,154.97,2,155.10,1,CRM,None

In [16]:
quotes = pd.read_csv('taq_aug_2019_quotes/AAPL.csv', nrows=1000000)
quotes['DATE_TIME'] = quotes.DATE.astype(str) + ' ' + quotes.TIME_M.astype(str)
quotes['DATE_TIME'] = pd.to_datetime(quotes.DATE_TIME)
quotes.drop(['DATE', 'TIME_M'], inplace=True, axis=1)

trades = pd.read_csv('taq_aug_2019_trades/AAPL.csv', nrows=10000)
trades['DATE_TIME'] = trades.DATE.astype(str) + ' ' + trades.TIME_M.astype(str)
trades['DATE_TIME'] = pd.to_datetime(trades.DATE_TIME)
trades.drop(['DATE', 'TIME_M'], inplace=True, axis=1)

In [2]:
disk_engine = create_engine('sqlite:///taq_aug_2019_quotes.db')
for df in pd.read_csv('archive/taq_aug_2019_quotes_500_tickers.csv', chunksize=10**6, parse_dates=[[0, 1]], infer_datetime_format=True):
    df.drop('SYM_SUFFIX', axis=1, inplace=True)
    for ticker in df.SYM_ROOT.unique():
        df[df.SYM_ROOT == ticker].to_sql(ticker, disk_engine, if_exists='append')
# disk_engine.dispose()
#     index_start = df.index[-1] + 1

KeyboardInterrupt:

In [15]:
quotes = pd.read_csv('AAPL sorted.csv', nrows=10**6)
trades = pd.read_csv('AAPL sorted trades.csv', nrows=10**6)

quotes.drop(['DATE', 'TIME_M'], inplace=True, axis=1)
trades.drop(['DATE', 'TIME_M'], inplace=True, axis=1)

quotes.DATE_TIME = pd.to_datetime(quotes.DATE_TIME)
trades.DATE_TIME = pd.to_datetime(trades.DATE_TIME)

In [30]:
quotes.head()

  EX     BID  BIDSIZ     ASK  ASKSIZ SYM_ROOT                     DATE_TIME
0  P  165.00       2    0.00       0     AAPL 2019-08-01 04:00:00.072657349
1  P  197.52       1    0.00       0     AAPL 2019-08-01 04:00:00.072667326
2  P  208.05       1    0.00       0     AAPL 2019-08-01 04:00:00.072677892
3  P  208.05       1  230.00       1     AAPL 2019-08-01 04:00:00.072687096
4  P  208.05       1  219.89       1     AAPL 2019-08-01 04:00:00.072700021

In [23]:
trades.head()

  EX SYM_ROOT  SIZE   PRICE  TR_ID                     DATE_TIME
0  D     AAPL   100  215.17   2771 2019-08-01 09:34:54.590521510
1  D     AAPL   100  215.17   2772 2019-08-01 09:34:54.590685658
2  D     AAPL   100  215.17   2773 2019-08-01 09:34:54.593307515
3  Q     AAPL   100  215.15   4018 2019-08-01 09:34:54.599008710
4  P     AAPL   100  215.14   1867 2019-08-01 09:34:54.599840625

In [ ]:
bids = quotes.BID * quotes.BIDSIZ
asks = quotes.ASK * quotes.ASKSIZ

In [40]:
from datetime import timedelta
end_time = trades.DATE_TIME - timedelta(minutes=5)
start_time = end_time - timedelta(minutes=180)

In [41]:
exchange_datasets = []
for ex in trades.EX.unique():
    dataset = trades.loc[trades.EX == ex, ['SIZE', 'PRICE', 'TR_ID', 'DATE_TIME']]
    dataset['AVG_SPREAD'] = dataset

0        2019-08-01 06:29:54.590521510
1        2019-08-01 06:29:54.590685658
2        2019-08-01 06:29:54.593307515
3        2019-08-01 06:29:54.599008710
4        2019-08-01 06:29:54.599840625
5        2019-08-01 06:29:54.698640507
6        2019-08-01 06:29:54.699355207
7        2019-08-01 06:29:54.701413977
8        2019-08-01 06:29:54.702614873
9        2019-08-01 06:29:54.787101725
10       2019-08-01 06:29:54.798569896
11       2019-08-01 06:29:54.900402422
12       2019-08-01 06:29:54.945460496
13       2019-08-01 06:29:54.945926014
14       2019-08-01 06:29:54.946331728
15       2019-08-01 06:29:54.946478191
16       2019-08-01 06:29:55.042423147
17       2019-08-01 06:29:55.135686760
18       2019-08-01 06:29:55.136123944
19       2019-08-01 06:29:55.146207857
20       2019-08-01 06:29:55.270425254
21       2019-08-01 06:29:55.612021531
22       2019-08-01 06:29:55.620169451
23       2019-08-01 06:29:55.691854812
24       2019-08-01 06:29:55.754802092
25       2019-08-01 06:29:55.770389443
26       2019-08-01 06:29:55.772127492
27       2019-08-01 06:29:55.772753158
28       2019-08-01 06:29:55.938017870
29       2019-08-01 06:29:55.938369051
                      ...
999970   2019-08-08 12:38:57.681179686
999971   2019-08-08 12:38:57.692432334
999972   2019-08-08 12:38:57.692582326
999973   2019-08-08 12:38:57.692694322
999974   2019-08-08 12:38:57.836658799
999975   2019-08-08 12:38:59.408906343
999976   2019-08-08 12:38:59.409010726
999977   2019-08-08 12:38:59.409021001
999978   2019-08-08 12:38:59.409031373
999979   2019-08-08 12:38:59.409078153
999980   2019-08-08 12:38:59.409093596
999981   2019-08-08 12:38:59.409112626
999982   2019-08-08 12:38:59.409121289
999983   2019-08-08 12:38:59.409131920
999984   2019-08-08 12:38:59.409217104
999985   2019-08-08 12:38:59.857549634
999986   2019-08-08 12:38:59.858440275
999987   2019-08-08 12:38:59.860961460
999988   2019-08-08 12:38:59.860972129
999989   2019-08-08 12:38:59.860976570
999990   2019-08-08 12:38:59.861333381
999991   2019-08-08 12:38:59.861334925
999992   2019-08-08 12:38:59.861340775
999993   2019-08-08 12:38:59.861429248
999994   2019-08-08 12:38:59.864104334
999995   2019-08-08 12:38:59.866229551
999996   2019-08-08 12:38:59.866233651
999997   2019-08-08 12:38:59.866237356
999998   2019-08-08 12:38:59.866241464
999999   2019-08-08 12:38:59.866246970
Name: DATE_TIME, Length: 1000000, dtype: datetime64[ns]